.bio-container {
    .bio-header {
        margin: $margin-large 0 $margin-large;

        color: $light-1;
        font-weight: $font-weight-regular;
        font-size: $font-large * 2;
        text-align: left;
    }
    .bio-content {
        display: flex;
        flex-direction: row;

        .time-line {
            flex: 1;
            display: flex;
            .dot {
                width: 10px;
                height: 10px;
                margin: 0 20px;
                background: $light-2;
                border-radius: 5px;
            }
            .text-boxes {
                flex: 1;
                width: 200px;
                margin-left: 40px;
                .box {
                    display: flex;
                    flex-direction: row;
                    // justify-content: space-between;
                    margin-top: 5px;

                    &.small {
                        margin-top: 20px;
                    }
                    &.medium {
                        margin-top: 45px;
                    }
                    &.large {
                        margin-top: 98px;
                    }
                    .period {
                        margin: 0px;
                    }
                    .company-name {
                        justify-self: center;
                        text-align: right;
                        margin-left: 20px;
                        font-weight: $font-weight-large;
                        text-decoration: none;
                        color: currentColor;
                    }

                    .description {
                        // text-align: end;
                        margin-left: 20px;
                        // background-color: $dark-1;
                    }
                }
            }
        }
        .bio-description {
            flex: 1;
            align-content: flex-end;
            text-align: end;
        }
    }
}
