.menu-container {
    flex: 1;
    padding: 10px;

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0;

        li {
            a {
                text-decoration: none;
                color: $light-2;
                font-weight: 700;
                font-size: $font-large;
            }
        }
    }
}
