@import "_variables.scss";

body {
    background-color: $dark-1;
    color: $light-1;
    overflow: hidden;
}

.body-container {
    max-width: 80vw;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}

#bio,
#blog {
    padding: 10px;
    margin-top: 10px;
}

hr {
    width: 50%;
}

h2,
h4 {
    text-align: center;
    a {
        text-decoration: none;
        color: $light-1;
    }
}
